#platform img {
    width: 40px;
    -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%); /* FF 35+ */

}
#platform img:hover {
    transition: filter .1s ease-in-out;
    -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(0%); /* FF 35+ */
}
#powered .owl-carousel .owl-item
{
    float: none;
    display: inline-block;
}
#partners img {
    -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%); /* FF 35+ */

}
#partners img:hover {
    transition: filter .1s ease-in-out;
    -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(0%); /* FF 35+ */
}

.OrangeColor{
    color: #ea8e0c;
}

#LinkOpeness a:hover {
    text-decoration: none;

}

#LinkInteroperability a:hover {
    text-decoration: none;

}
#LinkExtensibility a:hover {
    text-decoration: none;

}
.navitem{

}
.active{
    color: #ea8e0c;
}
.nav>li>a:focus, .nav>li>a:hover{
    background: none !important;
}
.bgnav{
    background-color: #f8f8f8;
    border-color: #e7e7e7
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background: none;
            color: #ea8e0c;
}
h2{
    color: #555;
}
h3{
    color: #555;
}
a:visited{
    color:#ea8e0c !important;
    text-decoration: underline !important;
}