@import url(bootstrap-3.3.7-dist/css/bootstrap.min.css);
@import url(bootstrap-3.3.7-dist/css/bootstrap-theme.min.css);
@import url(font-awesome-4.7.0/css/font-awesome.min.css);

@media screen and (min-width: 1170px) {
p{
    color: #555555;
}
    .navbar-default {
        padding: 15px 0;
        transition: padding 0.3s;
        background-color: white;
        background-image:none;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
    }
}

.navbar-default .navbar-nav>li>a{
    color: #555555;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 400;
    padding: 15px 20px;

}
.navbar-default .navbar-nav>li>a:hover{
    color: #ea8e0c;
}
.navbar-default a.brand > img {
    padding: 13px 10px 10px 10px;
}

.one-edge-shadow {
    box-shadow: 0 8px 6px -6px #d1d1d1;
}
body{
    margin-top: 70px;
}
.slider{
    background: url('images/4.jpg') no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 460px;
    padding-top: 45px;
}
.text-white{
    color: white;
}
.headingslider{
    line-height: 60px;
    font-size: 40px;
    font-weight: 400;

}
.slidersubheading{
    line-height: 32px;
    font-size: 20px;
    font-weight: normal;
}
.btntrnsparent{
    background: transparent;
    background-image:none;
}
.btnstyled{
    border-radius: 0px;

}
.backgroundorange{
    background-color: #ea8e0c;
}
.backgroundimgNone{
    background-image:none;
}
.borderNone{
    border: none;
}
.borderOrange{
    border: #ea8e0c solid 1px;
}
.font-normal{
    font-weight: normal;
}
.platformdiv{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #f7f7f7;
}
#platform img {
    width: 40px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

}
#platform img:hover {
    transition: filter .1s ease-in-out;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.servicesBlock{
    padding-top: 60px;
    padding-bottom: 60px;

}
.servicesSection i {
    color: #fff;
    width: 90px;
    height: 90px;
    padding: 30px;
    font-size: 30px;
    line-height: 30px;
    position: relative;
    text-align: center;
    background: #dedede;
    margin-bottom: 25px;
    display: inline-block
}
.servicesSection i:hover {
    background: #ea8e0c;
}
.rounded-x {
    border-radius: 50% !important;
}
.outerCircle{
    width: 110px;
    height: 110px;
    padding: 9px;
    display: inline-block;
    border: 1px solid #dedede;
    border-radius: 50%;
}
.outerCircle:hover{
    border: 1px solid #ea8e0c;
}
.md-margin-bottom-50 {
    margin-bottom: 50px;
}
#LinkOpeness a:hover {
    text-decoration: none;

}

#LinkInteroperability a:hover {
    text-decoration: none;

}
#LinkExtensibility a:hover {
    text-decoration: none;

}
.servicesBlockHeading{
    font-size: 20px;
    line-height: 24px;
}
.servicesBlockParagraph{
    color: #555;
    font-size: 13px;
    line-height: 1.6;
}
.servicesSection a{
    color: #ea8e0c;
}
.aboutSection{
    background-color: #f7f7f7;
    padding-top: 40px;
    padding-bottom: 40px
}
.aboutHeading{
    text-align: center;
    margin-bottom: 40px;
}
.aboutSection h2{
    font-size: 25px;
    text-transform: uppercase;

}
.ornageColor{
    color: #ea8e0c;
}
.greyColor{
    color: #555555;
}
.paddingTB30{
    padding-top: 30px;
    padding-bottom: 30px;
}
.YoutubeBox{
    height: 0;
    padding-top: 1px;
    position: relative;
    padding-bottom: 56.25%;
}
.medaiSection{
    background-color: #eff0f4;
    padding-bottom: 20px;
    padding-top: 20px;
}
.contactUs{
    padding-bottom: 20px;
    padding-top: 20px;
}
.contactSection i {
    left: 50%;
    top: -30px;
    color: #fff;
    width: 60px;
    height: 60px;
    font-size: 26px;
    line-height: 62px;
    margin-left: -30px;
    text-align: center;
    position: absolute;
    background: #ea8e0c;
    display: inline-block;
}
.contactSection {
    margin-top: 20px;
    text-align: center;
    position: relative;
    padding: 45px 20px 20px;
    border: 1px solid #f2f2f2;}
#partners img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

}
#partners img:hover {
    transition: filter .1s ease-in-out;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.footer{
    background: #222;
    border-top: none;
   padding-top: 10px;
    color: white;;
}
.footerparagraph{
    color: white;
    ont-size: 12px;
}
.footerparagraph a, a:hover {
    color: #ea8e0c;

}
.socailIconSize{
    font-size: 22px;
}
.active{
    color: #ea8e0c !important;
}
.partnerBorder{
    border: 1px #e1e1e1;
    margin-right: 10px;
    margin-left: 10px;
}
.imprintFontsize{
    font-size: 13px;
}
.imprintBlock{
    padding-top: 40px;
    padding-bottom: 40px
}
.bgLight{
    background-color: #f7f7f7;
}
.imprintBlock h2{
    font-size: 25px;
    text-transform: uppercase;

}
.bgwhite{
    background-color: white;
}
a{
    color: #ea8e0c;
}
.affix{
    position: relative;
}
.wy-menu-vertical span:hover{
    color: #ea8e0c;
}
a:visited {
    color: #ea8e0c; !important;
}